fastapi
uvicorn
sqlalchemy
pydantic
requests
python-multipart
pypdf
python-dotenv
ddgs
pandas
youtube-transcript-api>=1.2.4
langchain-google-genai
faiss-cpu
langchain-text-splitters
langchain-community

